<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425634833362-rs1cdu97nse2e0as142k6eg1lt6kvssi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425634833362-rs1cdu97nse2e0as142k6eg1lt6kvssi</string>
	<key>API_KEY</key>
	<string>AIzaSyAIGwzQFlIDUAZgV6Q1T6IWvpy9Yg29Mx4</string>
	<key>GCM_SENDER_ID</key>
	<string>425634833362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sione</string>
	<key>PROJECT_ID</key>
	<string>billmeapp2019</string>
	<key>STORAGE_BUCKET</key>
	<string>billmeapp2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425634833362:ios:4ce7e8ac18e1ad8c</string>
	<key>DATABASE_URL</key>
	<string>https://billmeapp2019.firebaseio.com</string>
</dict>
</plist>